:root {

  /* Backgrounds */
  --bg-main: #2b3049;
  --bg-modal: #1e2235;
  --bg-overlay: rgba(20, 20, 20, 0.9);

  /* Primary colors */
  --color-primary: #ec861f;
  --color-primary-hover: #c76d15;
  --button-close: #FF0000;

  /* Text colors */
  --text-primary: #f3ebe4;
  --text-secondary: #e0e0e0;
  --text-light: #ebe8e5;
  --text-white: #f5f1f1;
  --menu-active-color: #3b82f6;

  /* Borders */
  --border-light: #8a8784;
  --border-accent: hsl(29, 80%, 49%);

  /* Neutral */
  --white: #ffffff;
  --black-shadow: rgba(0, 0, 0, 0.2);

}

/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BASE */

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  text-align: center;
  background-color: var(--bg-main);
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

p {
  margin-bottom: 1rem;
}

section {
  margin-bottom: 3rem;
}

/* LAYOUT E COMPONENTS */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 32px;
}

.nav-menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 15px;
  transition: 0.3s ease;
}

.nav-menu a:hover {
  border-bottom: 2px solid var(--menu-active-color);
}

.nav-menu a.active {
  color: var(--menu-active-color);
  font-weight: 600;
}

.banner-header {
  border: 2px solid var(--border-light);
  border-radius: 15px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.article-title {
  font-family: fantasy;
  color: var(--color-primary);
  font-size: 3rem;
  text-shadow: rgb(37, 37, 37) 0.05em 0.05em;
}

.section-title{
  font-family: fantasy;
  color: var(--color-primary);
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.list-title {
  list-style-type: disc;
  color: var(--text-secondary);
  text-align: left;
  margin: 0 auto;
  width: 90%;
  max-width: 550px;
  padding: 0;
}

.paragraph-details {
  font-size: 0.9375rem;
  color: var(--text-light);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.card-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.5rem;
  max-width: 90%;
  margin: 30px auto;
  transition: 0.3s;
}

.card-image:hover {
  transform: scale(1.1);
}

.card-images img {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px var(--black-shadow);
}

.modal {
  pointer-events: none;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-overlay);
  padding: 0;
  border-radius: 12px;
}

.modal.active {
  display: flex;
  pointer-events: all;
}

.modal-content {
  background: var(--bg-modal);
  padding: 1.25rem;
  border-radius: 10px;
  text-align: center;
  position: relative;
  max-width: 40%;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

#modalTitle {
  color: var(--color-primary);
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}

#modalTitle::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 60px;   
  height: 2px;
  background: var(--color-primary);
}

#modalText {
  font-size: 1.125rem;
  color: var(--text-primary);
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0.625rem;
  line-height: 1.6;
}

#modalLink a {
  display: inline-block;
  text-decoration: none;
  background: var(--color-primary);
  color: var(--white);
  margin-top: 20px;
  padding: 6px 14px;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s;
}

#modalLink a:hover {
  background: var(--color-primary-hover);
}

.close {
  position: absolute;
  top: 0.625rem;
  right: 0.9375rem;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--button-close);
}

.table-paragraph {
  color: var(--text-primary);
  font-size: 1.25rem;
  text-shadow: rgb(27, 27, 27) 0.03em 0.03em;
  text-align: center;
  width: 90%;
  max-width: 800px;
  margin: 1.5rem auto;
}

.table-content {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem auto;
  max-width: 800px;
  text-align: center;
  color: var(--text-white);
}

th {
  padding: 8px;
  border: 1px solid var(--border-accent);
}

td {
  padding: 8px;
  border: 1px solid var(--border-accent);
  color:var(--color-primary);
}

th:first-child,
td:first-child {
  font-weight: bold;
}

.form {
  background: var(--bg-main);
  color: var(--color-primary);
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.form h2 {
  text-align: center;
}

.form label {
  display: flex;        
  align-items: center;  
  gap: 10px;            
  margin-bottom: 10px;  
  cursor: pointer;
}

.form input {
  margin-right: 10px;
}

.form button {
  background: var(--color-primary);
  color: var(--white);
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.form button:hover {
  background: var(--color-primary-hover);
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.8rem;
}

.social-icons-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 18px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 6px;
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.1)
}

.footer {
  background-color: transparent; 
  color: var(--color-primary); 
  padding: 20px; 
  text-align: center; 
  font-family: Arial, sans-serif;
  margin-top: 15px;
}

.footer-copyright {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

